<mat-card>
  <mat-card-title>A table !</mat-card-title>
  <mat-card-subtitle>Bon appétit</mat-card-subtitle>
  <img mat-card-image [src]="pasta" alt="pasta">
  <mat-card-content>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nulla metus, hendrerit sit amet ipsum non, sodales
    pretium odio. Cras vel enim neque. In et aliquet turpis. Vestibulum tempus enim tortor, id accumsan mauris porttitor
    eu. Morbi malesuada ante vitae dui ullamcorper, vel faucibus nisl ullamcorper. Pellentesque malesuada nunc ante.
  </mat-card-content>
</mat-card>
